@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&display=swap');
@font-face {
    font-family: 'PhosphateInline';
    src: url('../fontes/PhosphateInline.ttf') format(truetype);
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #f8eee5;
}
header {
    background-image: url(../imagens/background_celular.png);
    background-position: top, center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 35vh;
}
header > h1 {
    font-family: 'PhosphateInline';
    font-weight: normal;
    text-align: center;
    padding: 10px 0px;
}
header > nav {
    text-align: center;
}
header > nav > a {
    font-family: 'Averia Gruesa Libre', cursive;
    text-decoration: none;
    color: black;
    padding: 5px;
    padding-right: 10px;
}
main > section.order {
    text-align: center;
    margin: 20px;
}
main > section.order > a {
    font-family: 'Averia Gruesa Libre', cursive;
    text-decoration: none;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color: #fc754c;
    padding: 10px 20px;
}