@charset "UTF-8";
@font-face {
    font-family: Staaliches;
    src: url('../fontes/Staatliches-Regular.ttf') format(truetype);
}
@font-face {
    font-family: JosefinSans;
    src: url('../fontes/JosefinSans-Medium.ttf') format(truetype);
}
:root {
    --fundo: #F5FCD9;
    --links: #006a48;
    --order: #dd874d;
    --fonte-menu: Staaliches;
    --fonte-links: JosefinSans;
}
* {
    margin: 0px;
    padding: 0px;
}
header {
    display: block;
    background-color: var(--fundo);
    width: 100vw;
    height: 20vh;
}
header > img#logo {
    display: block;
    margin: auto;
    width: 80vw;
}
header > ul {
    list-style-type: none;
    margin-top: 40px;
}
header > ul > li {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}
header > ul > li > a {
    font-family: var(--fonte-links);
    color: var(--links);
    font-size: 1.3em;
    text-decoration: none;
}
main {
    background-color: var(--fundo);
}
main > section#principal {
    display: block;
    width: 100vw;
    height: 80vh;
}
main > section#principal > figure > img#burger {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    z-index: 2;
}
main > section#principal > figure > img#ingredients {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    z-index: 1;
}
main > section#principal > a {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--fonte-menu);
    padding: 20px 30px;
    background-color: var(--order);
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.253);
    border-radius: 30px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.507);
}